{% extends 'base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
    {% for user in users  %}
      {% if request.user != user %}
        <tbody>
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>
              <form action="{% url 'message' %}"  id="form_message{{ user.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <input type="text" name="message" >
              <input type="hidden" name='user_id' value='{{ user.id }}'>
              <button type="submit" value="Submit" class="btn btn-primary">Send message</button>
            </form>
            </td>
          </tr> 
        </tbody>
      {% endif %}
    {% endfor %}
</table>

{% endblock %}
